[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = https://github.com/kohana/codebench.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/kohana/database.git
[submodule "modules/image"]
	path = modules/image
	url = https://github.com/kohana/image.git
[submodule "modules/orm"]
	path = modules/orm
	url = https://github.com/kohana/orm.git
[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/kohana/auth.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = https://github.com/kohana/userguide.git
[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/kohana/cache.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = https://github.com/kohana/unittest.git
[submodule "modules/minion"]
	path = modules/minion
	url = https://github.com/kohana/minion.git
