.kohana table.profiler { width: 99%; margin: 0 auto 1em; border-collapse: collapse; }
	.kohana table.profiler th,
	.kohana table.profiler td { padding: 0.2em 0.4em; background: #fff; border: solid 1px #ccc; text-align: left; font-weight: normal; font-size: 1em; color: #111; vertical-align: top; }
	.kohana table.profiler tr.group th { font-size: 1.4em; background: #222; color: #eee; border-color: #222; }
	.kohana table.profiler tr.mark th.name { width: 40%; font-size: 1.2em; background: #fff; vertical-align: middle; }
	.kohana table.profiler tr.mark td.min { background: #d2f1cb; }
	.kohana table.profiler tr.mark td.max { background: #ead3cb; }
	.kohana table.profiler tr.mark td.average { background: #ddd; }
	.kohana table.profiler tr.mark td.total { background: #d0e3f0; }
	.kohana table.profiler tr.time td { border-bottom: 0; }
	.kohana table.profiler tr.memory td { border-top: none; }
	.kohana table.profiler tr.final th.name { background: #222; color: #fff; }
